* {
    background-color: lightsteelblue;
    font-family: Helvetica,sans-serif;
}

img,
h1{
    height: auto;
    width: 500px;
}

h1 {
    background-color: lightgray;
    font-weight: lighter;
    text-align: center;
}

